/* Style for Extra Large Screen */
@media (max-width:1199px) {
    iframe {
      width: 70%;
    }
}

/* Style for Large Screen */
@media (max-width:991px) {
    iframe {
        width: 80%; 
    }
}

/* Style for Medium Screen */
@media (max-width:767px) {
    iframe {
        width: 100%; 
    }
}

/* Style for Medium Screen */
@media (max-width:627px) {
    iframe {
        width: 100%;
        height: 290px;
    }
}


/* Style for Small Screen */
@media (max-width:575px) {
    iframe {
        width: 450px; 
        height: 290px;
    }
}